<manifest
    package="com.paragon_software.dictionary_manager_paragon"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <service android:name="shdd.android.components.httpdownloader.DownloadService" />
    </application>
</manifest>
